In [2]:
print("hello")

hello

In [3]:
"""(\_/)
        ( •,•)
        (")_(")  """

hello python

In [4]:
print("""(\_/)
        ( •,•)
        (")_(")  """)

(\_/)
        ( •,•)
        (")_(")

In [5]:
"""(\_/)
( •,•)
(")_(")  """

'(\\_/)\n( •,•)\n(")_(")  '

In [6]:
print("Python's world")

Python's world

In [7]:
print("Python's\tworld")

Python's	world

In [8]:
print("Python's\nworld")

Python's
world

In [9]:
print("Python's\aworld")

Python'sworld

In [11]:
name="John"
marks="99"
age="19"
print("The name of the person is",name,"the mark is",marks,"the age is",age)

The name of the person is John the mark is 99 the age is 19

In [12]:
name="John"
marks=99.087
age=19
print("The name of the person is",name,"the mark is",marks,"the age is",age)

The name of the person is John the mark is 99.087 the age is 19

In [13]:
print("The name of the person is %s the mark is %f the age is %d"%(name,marks,age))

The name of the person is John the mark is 99.087000 the age is 19

In [14]:
print("The name of the person is %10s the mark is %10f the age is %d"%(name,marks,age))

The name of the person is       John the mark is  99.087000 the age is 19

In [15]:
print("The name of the person is %s the mark is %10.2f the age is %d"%(name,marks,age))

The name of the person is John the mark is      99.09 the age is 19

In [18]:
print(f"The name of the person is {name} the mark is {marks} the age is {age}")

The name of the person is John the mark is 99.087 the age is 19

In [19]:
5**5

3125

In [20]:
10+20

30

In [21]:
10/2

5.0

In [22]:
10/3

3.3333333333333335

In [23]:
10%3

1

In [24]:
10//3

3

In [25]:
a=10
b=20
a==b

False

In [26]:
str1="pythinprograming"

"x" not in str1

True

In [27]:
a=10
b=10
a==b

True

In [28]:
a is b

True

In [29]:
id(a)

140719357338288

In [30]:
id(b)

140719357338288

In [31]:
x=1.5
y=1.5

In [33]:
x is y

False